<ion-toolbar color="primary" text-center>
      <ion-buttons slot="start">
        <ion-menu-button ></ion-menu-button>
      </ion-buttons>
      <ion-title text-center>Medical Questions</ion-title>
</ion-toolbar>

<ion-content padding color="secondary">
  <ion-card color="light">
    <ion-text>
      <ion-card-header>
        <H1>
          Medical Questions
        </H1>
      </ion-card-header>
      <ion-card-content>
        <p>
          Our bodies, health conditions and procedures are all really complex. It’s
          completely normal to have lots of questions, so don’t hold back! It’s good to ask questions about
          your health and be involved with your care. In first instance, always ask one of your medical team if
          you don’t understand something and if they can’t help you, ask them who might be able to talk to
          you.
        </p>
        <p>
          There are also useful digital resources – try <a href="https://nhsgo.uk/">NHS Go</a>, a
          free health app designed specifically for young people or the <a href="https://www.nhs.uk/Conditions/Pages/hub.aspx">NHS A-Z of health conditions</a> and
          treatments. Be aware that some online health sites and forums are less reliable and, in some cases, might not helpful or accurate. Always ask your
          medical team on the ward if you are worried or have questions.
        </p>
        <p>
          If you live or go to school in Lambeth and Southwark and you’re between the ages of 11-19, you can
          text ‘ChatHealth’ for free and they’ll message you back confidential health advice and support on
          <a href="07507332150">07507 332150</a>. This service operates 9am to 5pm, Monday to Friday and the school nurse will get
          back to you within 24 hours.
        </p>
        <p>
          Other than the above, it’s always advisable to go run through any medical questions with your local
          GP. <a href="https://www.thewellcentre.org/">The Well Centre</a> is a brilliant youth health centre where you can
          see a youth worker, counsellor and GP in a safe and relaxed space. You can call ahead on <a href="tel:+442084731581">0208 473
          1581</a> to book an appointment or come along to one their ‘drop-ins’ on Monday, Wednesday and
          Thursdays.
        </p>
      </ion-card-content>
    </ion-text>
  </ion-card>
</ion-content>
