page-login {
    .invalid {
      border-bottom: 1px solid #FF6153;
    }
    .loginform {
      padding-top: 50px;
      margin: 0 auto;
      width: 80%;
    }
    .submitbutton {
      padding-top: 20px;
      margin: 0 auto;
      text-align: center;
    }
}
