.card-content-text {
  font-family: "Roboto Light";
  text-align: left;
  margin-top: 14px;
  color: #808080;
}

.card-title {
  font-family: "IBM Plex Serif";
  vertical-align: middle;
  padding: inherit;
  color: white;
  font-size: 1.4em;
  padding: 10px;
}
