<ion-toolbar color="primary" text-center>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title text-center>Visiting Times</ion-title>
</ion-toolbar>

<ion-content padding color="secondary">
  <ion-card color="light">
    <ion-text>
      <ion-card-header>
        <h1>
          Who Can Visit?
        </h1>
      </ion-card-header>
      <ion-card-content>
        <p>
          Having visitors can really lift your spirits when you’re in hospital. King’s welcomes
          guests, whether they are friends, relatives or carers. Generally speaking, visiting times are in the
          afternoon, usually around 2-8pm but this varies according to the ward. Each ward will also have
          limits on the number of guests you can welcome, normally not more than two, so do check out our <a href="/resources/wards">Wards page</a> for more information to make absolutely sure.
        </p>
        <p>
          In some wards, you need to ask permission for children to visit or they must be accompanied by an adult – so if you’ve got siblings wanting to visit,
          ask your medical team in advance.
        </p>
        <p>
          King’s is a big place! If your visitors are struggling to find you, ask them to call the help desk on <a href="+442032999000">020
          3299 9000</a>. Providing some basic details about you (name, address, date of birth) will allow staff to find your location and direct them.
        </p>
        <p>
          For general advice about visiting people in hospital, head on over to the NHS page on <a href="https://www.nhs.uk/NHSEngland/AboutNHSservices/NHShospitals/Pages/visitors.aspx">‘Visiting
          someone in hospital’</a>
        </p>
      </ion-card-content>
    </ion-text>
  </ion-card>
</ion-content>
