.wardDetail {
    color: var(--ion-color-primary);
    font-family: "IBM Plex Serif";
  }
.wardInfo {
  color: var(--ion-color-primary);
  font-family: "IBM Plex Serif";
  margin-top: 10px;
}
  .wardTitle {
    font-family: "Roboto Light";
  }
  .key {
    border: 2px solid var(--ion-color-primary);
    font-family: "Roboto Light";
  }
