<ion-toolbar color="primary" text-center>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Walk Through</ion-title>
</ion-toolbar>

<ion-content padding>
  <ion-slides pager>

  <ion-slide>
    <ion-grid>
      <ion-row>
        <div class="kaos_welcome">
          <img src="/assets/imgs/KAOS800_round.png">
        </div>
      </ion-row>
      <ion-row class="centred">
        <h2>Welcome to the KAOS Team!</h2>
      </ion-row>
      <ion-row>
        <p>This resource is packed full of useful information for you as a new KAOS Clinician. Swipe through to orientate yourself, or skip it - you are a clinician after all and are pretty good at picking stuff up as you go along...</p>
      </ion-row>
    </ion-grid>
  </ion-slide>

  <ion-slide>
    <ion-grid>
      <ion-row>
        <div class="kaos_welcome">
          <img src="/assets/imgs/KAOS_team_with_logo.png">
        </div>
      </ion-row>
      <ion-row>
        <p>Hannah, Simon and Barney lead the service on the day to day. As a member of the team though you will be supporting Barney with any questions he has when he goes out to meet the young people on the wards.</p>
        <p>Most advice you give will be by phone. Try and touch base with him at least twice a day to discuss cases.</p>
      </ion-row>
    </ion-grid>
  </ion-slide>

  <ion-slide>
    <ion-grid>
      <ion-row>
        <div class="kaos_welcome">
          <img src="/assets/imgs/resources_frame.png">
        </div>
      </ion-row>
      <ion-row>
        <p>Locked behind the <ion-icon name="menu"></ion-icon> 'hamburger' icon is a list of information for young people to browse about King's, about their stay as well as signposts to help for questions about their health.</p>
      </ion-row>
    </ion-grid>
  </ion-slide>

  <ion-slide>
    <ion-grid>
      <ion-row>
        <div class="kaos_welcome">
          <img src="/assets/imgs/roster.png">
        </div>
      </ion-row>
      <ion-row>
        <p>The rota will tell you who is on call on a given day, as well as a snapshot of the week ahead. Your days will show up on the calendar as blue dots. If you want to swap a shift, select the date you want to do and slide right to reveal the swap icon. This will send the person rostered a request.</p>
      </ion-row>
    </ion-grid>
  </ion-slide>

  <ion-slide>
    <ion-grid>
      <ion-row>
        <div>
          <img src="/assets/imgs/KAOS_team_with_logo.png">
        </div>
      </ion-row>
      <ion-row class="centred">
        <h2>That's it!</h2>
      </ion-row>
      <ion-row class="centred">
        <h6 *ngIf="profile?.first_time | async">Before you go any further though you need to change your password.</h6>
      </ion-row>
      <ion-row class="centred">
        <ion-button fill="outline" (click)="gotIt()">{{progress}}</ion-button>
      </ion-row>
    </ion-grid>
  </ion-slide>

  </ion-slides>
</ion-content>
