<ion-toolbar color="primary" text-center>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Legal</ion-title>
</ion-toolbar>

<ion-content padding color="secondary">
  <ion-card color="light">
      <ion-card-header>
        <ion-text>
          <h1>
            Legal
          </h1>
        </ion-text>
      </ion-card-header>
      <ion-card-content>
        <ion-text>
          <p>
            <a href="https://www.gov.uk/government/publications/the-nhs-constitution-for-england">The NHS Constitution</a> sets out the principles and values of the NHS and the rights and
            responsibilities of patients and staff. Hospitals are busy and stressful places, but it’s important to
            remember that our staff are here to help you so they expect to be treated with respect – any abuse
            or violence towards staff is unacceptable.
          </p>
          <p>
            Under the NHS Constitution, patients have a right to start consultant-led treatment within 18 weeks
            from referral where clinically appropriate and the patient wishes to be treated within 18 weeks.
            Where this is not possible, the NHS must take all reasonable steps to offer the patient a quicker
            appointment at a range of alternative providers if they request this.
          </p>
          <p>
            It is important that you try your best to keep to GP and hospital appointments, or if you have to
            cancel, making staff aware of this in good time is helpful. King’s also benefits from your feedback,
            both positive and negative about the treatment you’ve received. The easiest way to do this is <a href="https://www.kch.nhs.uk/about/how-are-we-doing">online</a>.
            Another good source of information, support and assistance is through PALS (Patient Advice and Liaison Service). You can get in touch
            with them on <a href="tel:+442032993601">020 3299 3601</a>, via <a href="mail:kch-tr.PALS@nhs.net">email</a> or through their online form.
          </p>
          <p>
            If you or your family have been affected by Major Trauma, a major accident (e.g. motor vehicle or at
            work) or have been the victim of criminal injuries, you may be entitled to legal support through the
            <a href="https://cardinal-management.co.uk/home/150-2/">Major Trauma Signposting Partnership</a>. Their number is <a href="tel:+443300435859">0330 043 5859</a>.
          </p>
        </ion-text>
      </ion-card-content>
    </ion-card>
</ion-content>
