<!--
  Generated template for the IdentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>

    <button *ngIf="isAuth && profileHasBeenCompleted" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{viewTitle}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <form [formGroup]="profileForm">
      <button ion-item (click)="imgClick()">
        <ion-avatar class="avatar">
          <img src={{myAvatar}}>
        </ion-avatar>
      </button>

      <ion-list text-center>
        <ion-item>
          <ion-label fixed>Title</ion-label>
          <ion-select [formControl]="profileForm.controls['title']" [(ngModel)]="currentUserTitle" [class.invalid]="!profileForm.controls.title.valid && blur">
            <ion-option *ngFor="let title of titles" [value]="title">{{title}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label fixed>First Name</ion-label>
          <ion-input [formControl]="profileForm.controls['first_name']" type="text" value={{(currentUserProfile)?.first_name}} [class.invalid]="profileForm.controls.first_name.valid && blur" ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label fixed>Surname</ion-label>
          <ion-input [formControl]="profileForm.controls['second_name']" type="text" value={{(currentUserProfile)?.second_name}} [class.invalid]="!profileForm.controls.second_name.valid && blur" ></ion-input>
        </ion-item>

        <button ion-item *ngIf="isAuth" (click)="makeCall(currentUserProfile?.mobile)">
            <ion-label fixed>Mobile</ion-label>
            <ion-input [formControl]="profileForm.controls['mobile']" type="tel" value={{(currentUserProfile)?.mobile}} [class.invalid]="!profileForm.controls.mobile.valid && blur"></ion-input>
            <ion-icon name="call" item-end class="phone"></ion-icon>
        </button>

        <ion-item>
          <ion-label fixed>Centre</ion-label>
          <ion-input [formControl]="profileForm.controls['centre']" type="text" value={{(currentUserProfile)?.centre}} [class.invalid]="!profileForm.controls.centre.valid && blur" >
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label fixed>Role</ion-label>
          <ion-input [formControl]="profileForm.controls['role']" type="text" value={{(currentUserProfile)?.role}} [class.invalid]="!profileForm.controls.role.valid && blur" ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label fixed>KAOS Role</ion-label>
          <ion-input [formControl]="profileForm.controls['secondary_role']" type="text" value={{(currentUserProfile)?.secondary_role}} [class.invalid]="!profileForm.controls.secondary_role.valid && blur" ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label fixed>Service</ion-label>
          <ion-input [formControl]="profileForm.controls['service']" type="text" value={{(currentUserProfile)?.service}} [class.invalid]="!profileForm.controls.service.valid && blur" ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Bio</ion-label>
          <ion-textarea [formControl]="profileForm.controls['bio']" type="text" value={{(currentUserProfile)?.bio}} [class.invalid]="!profileForm.controls.bio.valid && blur" ></ion-textarea>
        </ion-item>

        <button ion-button *ngIf="isEditable" (click)="updateProfile()" class="updateButton" [disabled]="!profileForm.valid">Update Profile</button>
      </ion-list>
    </form>
</ion-content>
