page-team-members {
  h2 {
    color: map-get($colors, primary);
  }

  h3 {
     color: map-get($colors, dark);
     font-family: "Roboto Light"
  }
  .content{
    background-color: white;
  }

  #nomembers {
    text-align: center;
  }
}
