<ion-toolbar color="primary" text-center>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-title>Exercise</ion-title>
</ion-toolbar>

<ion-content padding color='secondary'>
  <ion-card color="light">
    <ion-card-header>
      <ion-text>
        <h1>
          Exercise
        </h1>
      </ion-text>
    </ion-card-header>
    <ion-card-content>
      <ion-text>
        <p>
          The benefits of regular exercise are extensive (NHS, 2019). It can help prevent and manage chronic and non-chronic illness (Public Health England, 2016; WHO, 2019) and diminish the effects of aging (Kaplan, 2016), improve mental well-being whilst reducing stress and symptoms associated with anxiety and depression (Heart Research, 2016; Tolnai et al., 2016), and provide an opportunity to meet and have fun with friends (Dept. of Health, 2019). As such, national health guidelines promote regular physical exercise for all ages (NHS, 2018).
        </p>
        <h2>
          What is meant by 'regular'?
        </h2>
        <p>
          The World Health Organization (2019) recommend the following:
        </p>
        <h3>
          Children and young people aged 5-17years
        </h3>
        <li>Should do at least 60 minutes of moderate to vigorous-intensity physical activity daily.</li>
        <li>Physical activity of amounts greater than 60 minutes daily will provide additional health benefits.</li>
        <li>Should include activities that strengthen muscle and bone, at least 3 times per week.</li>
        <h3>
          Adults aged 18–64 years
        </h3>
        <li>Should do at least 150 minutes of moderate-intensity physical activity throughout the week, or do at least 75 minutes of vigorous-intensity physical activity throughout the week, or an equivalent combination of moderate- and vigorous-intensity activity.</li>
        <li>For additional health benefits, adults should increase their moderate-intensity physical activity to 300 minutes per week, or equivalent.</li>
        <li>Muscle-strengthening activities should be done involving major muscle groups on 2 or more days a week.</li>
        <h3>
          Useful things to remember
        </h3>
        <li>Exercise should be fun! If it is causing you worry or anxiety, then it may not be as beneficial as it could be;</li>
        <li>It is not advised to ‘lift weights’ if you are under 16 (although this topic is widely debated). Instead, you may wish to include bodyweight exercises in your exercise programme, e.g. pull-ups, press-ups, lunges;</li>
        <li>Whilst consuming the correct nutrition, such as protein, can help the body to recover following certain exercises, excessive consumption of protein, and specifically protein supplements, has been linked to liver dysfunction;</li>
        <li>There is such a thing as too much exercise! When you exercise regularly, it is just as important to rest regularly too. Your body and mind will thank you if you allow them time to recover and repair in-between exercise;</li>
        <li>Find that inner motivation to exercise. It can be hard, but exercise to benefit you, your physical and your mental health. Finding this inner drive will mean you are more likely to stick at and enjoy exercising all the more along the way (Deci & Ryan, 2009)!</li>
        <h3>
          Useful Links
        </h3>
        <li><a href='https://www.nhs.uk/live-well/exercise/exercise-health-benefits/'>NHS advice</a></li>
        <li><a href='https://www.gov.uk/government/publications/health-matters-getting-every-adult-active-every-day/health-matters-getting-every-adult-active-every-day'>Government advice</a></li>
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
