<ion-toolbar color="primary" text-center>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title text-center>Internet</ion-title>
</ion-toolbar>

<ion-content padding color="secondary">
  <ion-card color="light">
      <ion-card-header>
        <ion-text>
          <h1>
            Internet and Wifi Access
          </h1>
        </ion-text>
      </ion-card-header>
      <ion-card-content>
        <ion-text>
          <p>
            3G and 4G across King's College Hospital is variable. Wifi access for patients and members of the general public is available at the following prices:
          </p>
          <p>
            <ion-grid>
              <ion-row>
                <ion-col col-6>
                  1 day
                </ion-col>
                <ion-col col-6>
                  £4.50 for 1 device<br>
                  £6.75 for 2 devices<br>
                  £9.00 for 3 devices<br>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>
                  1 week
                </ion-col>
                <ion-col col-6>
                  £12.50 for 1 device<br>
                  £18.75 for 2 devices<br>
                  £25.00 for 3 devices<br>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>
                  1 month
                </ion-col>
                <ion-col col-6>
                  £17.50 for 1 device<br>
                  £26.25 for 2 devices<br>
                  £35.00 for 3 devices<br>
                </ion-col>
              </ion-row>
            </ion-grid>
          </p>
          <p>
            To access it, turn on your WIFI, select WifiSpark and follow the on-screen instructions.
          </p>
        </ion-text>
      </ion-card-content>
    </ion-card>
</ion-content>
