page-home {
  .square {
    width: 100% !important;
    height:0 !important;
    padding: 50% 0 50% 0 !important;
    background-color: #015ace;
    background-image: url("../../assets/imgs/KAOSWallpaper.png");
  }
}
