<ion-toolbar color="primary" text-center>
  <ion-title text-center>Entertainment</ion-title>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
</ion-toolbar>

<ion-content padding color="secondary">
  <ion-card color="light">
    <ion-card-header>
      <ion-text>
        <h1>
          Entertainment
        </h1>
      </ion-text>
    </ion-card-header>
    <ion-card-content>
      <ion-text>
        <p>
        We get it, hospitals might not be the most entertaining of places but there
        are still a number of ways to keep yourself busy and have fun! Like with visitors, each ward is
        different (only some have WiFi and will allow you to use your laptops or phones) so please see what
        is available and permitted on your ward or consult our <a href="/resources/wards">‘The Wards’</a> tab.
        </p>
        <p>
        Some wards are fitted with the ‘Hospicom’ entertainment system offering a mixture of free and pay as you go TV, radio and internet services. In most places in the hospital you can also pay for WiFi using WiFiSPARK. If it’s not
        working properly you can call the WiFiSPARK helpline on <a href='tel:+448458385340'>0845 838 5340</a>. There is also a ‘Youth
        Room’ (Hambleden Wing, 3 rd Floor next to Children’s Outpatients) especially for young people 18
        and under with a range of board games, books and entertainment. If you’d like to visit this, please
        text or call the KAOS Youth Worker on <a href="tel:+447983258378">07983 258 378</a>.
        </p>
        <p>
        If you are stranded without WiFi, don’t panic. We know it can be a bit lonely not being connected to your friends and social media, but take the
        opportunity to do something different. KAOS recommends: reading a book or magazine, drawing or
        colouring, do a Sudoku or a crossword, do some stretches – be imaginative! Taking a short walk and
        grabbing a hot drink at one of the hospital’s many cafes can also do you good. <br>
        If you want some company, don’t hesitate to text or call our Youth Worker on the number above (or insert call link to
        mobile phone).
        </p>
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
