<ion-toolbar color="primary" text-center>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>About</ion-title>
</ion-toolbar>


<ion-content padding color="light">
  <ion-slides pager>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <h1>What is KAOS?</h1>
        </ion-row>
        <ion-row>
          <img src="assets/imgs/kaosredthread.png"/>
        </ion-row>
        <ion-row>
          <h2>KAOS stands for King's Adolescent Outreach Service</h2>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <h1>Who Are We?</h1>
        </ion-card-header>
        <ion-card-content>
          <h2>A team dedicated to looking after patients in the 16-19 age range. We have specialists of all different kinds: doctors, nurses, play-specialists, therapists and youth workers.</h2>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
            <h1>Why?</h1>
        </ion-card-header>
        <ion-card-content>
          <h2>We realise that being in hospital is not fun for anyone, especially young people.  We realised people feel out of place in between paediatric and adult care - we are here to bridge that gap.</h2>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <h1>How can you find us?</h1>
        </ion-card-header>
        <ion-card-content>
          <h2>No need! We will come and find you during your stay. If you want to make contact ask your nurse to give us a call or find our contacts on the contacts page.</h2>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <ion-fab>
      <ion-icon ion-icon name='hand' href="/team-members"></ion-icon>
  </ion-fab>
</ion-content>
