img {
  width: 100%;
  height: 100%;
}

ion-text{
  text-align: center;
}

ion-button{
  margin-top: 10px;
  margin-bottom: 10px;
}

ion-row {
  text-align: center;
}

form{
  min-width: 100%;
}

ion-spinner {
  background-color: red;
}

.centred{
  display: block;
  margin: 0 auto;
}
