<ion-toolbar color="primary" text-center>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title text-center>Privacy and Security</ion-title>
</ion-toolbar>

<ion-content padding color="secondary">
  <ion-card color="light">
    <ion-text>
      <ion-card-header>
        <h1>
          Privacy and Security
        </h1>
      </ion-card-header>
      <ion-card-content>
        <p>
          When you’re on a hospital ward, having a sense of privacy and dignity is important. You should have
          the option of a curtain or a door to your bed and anyone entering is required to ask permission.
          Most wards have a ‘Quiet’ or ‘Private’ room – if you’d feel more comfortable having a potentially
          sensitive conversation in one of these spaces, ask your medical team. Don’t just sit there feeling
          uncomfortable, speak up and ask!
        </p>
        <p>
          King’s has its own Security Department that work 24 hours a day, seven days a week to keep
          everyone at the hospital safe and secure. In order to do so, they patrol the hospital and its grounds,
          entrances and exits, and monitor CCTV.
        </p>
        <p>
          Top tips to keep yourself safe:
        </p>
        <li>Only bring essential items to the hospital</li>
        <li>Protect your personal belongings</li>
        <li>Confirm the identity of staff not wearing an ID card</li>
        <li>Don’t give access to strangers through secure doors</li>
        <li>Report anything that doesn’t look right to staff</li>
      </ion-card-content>
    </ion-text>
  </ion-card>
</ion-content>
