<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div *ngIf="this.isAuth">
      <ion-list>
        <button menuClose ion-item (click)="editIdent()">
            <ion-avatar item-start>
              <img src={{myAvatar}}>
            </ion-avatar>
            <div class="logInEmail">{{this.email}}</div>
        </button >
      </ion-list>
    </div>

    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <div class="menupage">{{p.title}}</div>
      </button>
    </ion-list>
  </ion-content>

  <ion-footer>


      <div *ngIf="this.isAuth;else context">
        <ion-list>
          <button menuClose ion-item (click)="openRoster()" class="menupage">My Roster</button>
          <button menuClose ion-item (click)="openSignOut()" class="signout">Sign Out</button>
        </ion-list>
      </div>
      <ng-template #context>
        <button menuClose ion-item (click)="openSignIn()">Clinician Sign In</button>
      </ng-template>

  </ion-footer>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
