// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$font-family-base: "IBM Plex Serif", sans-serif !default;

H1, H2, H3, H4 {
  color: map-get($colors, primary);
  font-family: "IBM Plex Serif";
  font-style: medium;
}

ion-title {
  font-family: "IBM Plex Serif";
  font-style: medium;
  text-align: center;
}

ion-list {
  font-family: "Roboto Light";
}

ion-label {
  font-family: "Roboto Light";
}

ion-input, ion-select, ion-textarea{
  font-family: "IBM Plex Serif";
  color: map-get($colors, primary);
}

/// card

ion-card-header {
  background-color: map-get($colors, primary);
}

ion-card-content {

}

.card-content-text {
  font-family: "Roboto Light";
  text-align: left;
  margin-top: 14px;
  color: #808080;
}

.card-title {
  font-family: "IBM Plex Serif";
  vertical-align: middle;
  padding: inherit;
  color: white;
  font-size: 1.4em;
  padding: 10px;
}

.link {
  display: inline;
  color: map-get($colors, primary);
}

////

H6, p .signout {
  font-family: "Roboto Light"
}

.logInEmail {
  color: map-get($colors, primary);
  font-family: "Roboto Light";
}

.menupage {
  font-family: "IBM Plex Serif";
}

.invalid {
    border-bottom: 1px solid #FF6153;
  }

.kaos-icon {
    height: 70vh;
    width: 100px !important;
    height: auto;
}

.alert-md .alert-checkbox-label,
.alert-ios .alert-checkbox-label
{
white-space: normal !important;
}


flash-card {

    /*
     *  Flip animation by David Walsh: https://davidwalsh.name/css-flip
     */

    /* entire container, keeps perspective */
    .flip-container {
        perspective: 1000px;
    }

        /* flip the pane when hovered */
        .flip-container.flipped .flipper {
            transform: rotateY(180deg);
        }

    .flip-container, .front, .back {
        width: 90vw;
        height: 40vh;
        margin: 20px auto;
    }

    /* flip speed goes here */
    .flipper {
        transition: 0.6s;
        transform-style: preserve-3d;

        position: relative;
    }

    /* hide back of pane during swap */
    .front, .back {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ecf0f1;
        backface-visibility: hidden;
        -webkit-box-shadow: 0px 8px 4px -4px rgba(163,163,163,0.25);
        -moz-box-shadow: 0px 8px 4px -4px rgba(163,163,163,0.25);
        box-shadow: 0px 8px 4px -4px rgba(163,163,163,0.25);
        border: 1px solid #dee2e3;
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
    }

    /* front pane, placed above back */
    .front {
        z-index: 2;
        /* for firefox 31 */
        transform: rotateY(0deg);
    }

    /* back, initially hidden pane */
    .back {
        transform: rotateY(180deg);
    }

}
