<ion-toolbar color="primary" text-center>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Home</ion-title>
</ion-toolbar>

<ion-content padding color="secondary">
  <ion-grid>
    <ion-row>
        <img class="kaos-icon" src="assets/imgs/kaosredthread.png"/>
    </ion-row>
    <ion-row>
        <div>
          <h2>
            <i>
              King's Adolescent Outreach Service
            </i>
          </h2>
          <hr>
          <h5>
            Supporting young people across King's College Hospital
          </h5>
        </div>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="outline" href="/list" color="primary">Resources</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="outline" href="/quiz" color="primary">Quiz</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="outline" href="/about" color="primary">About KAOS</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="outline" href="/team-members" color="primary">Meet the Team</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
