<ion-toolbar color="primary" text-center>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title text-center>Drugs</ion-title>
</ion-toolbar>

<ion-content padding color="secondary">
  <ion-card color="light">
    <ion-text>
      <ion-card-header>
        <h1>
          Smoking, Drugs and Alcohol
        </h1>
      </ion-card-header>
      <ion-card-content>
        <p>
          During your teenage years, it’s pretty normal for you to find yourself in situations where cigarettes,
          drugs and alcohol are available. If you are going to try any of these, you should do so in moderation
          (know your limits!) and make sure you are with friends and people you who trust. And don’t ever do
          anything that you don’t feel comfortable with. Sometimes people smoke, drink or take drugs to
          escape from other problems they are having in their lives (stress, low moods, problems at home or
          at school).
        </p>
        <p>
          Drugs are chemicals that you take into your body, which change the way you feel and act. There are
          lots of different types of drugs and they can all be harmful. Illegal drugs are described in different
          classes (A, B and C) depending on how unsafe they are. The harmful effects of these include feeling
          paranoid, depressed, dizzy, anxious, out of control or physically ill (vomiting). They can also make
          you feel &#39;high&#39;, relaxed, happy, confident and energetic. <a href="http://www.talktofrank.com/">Talk to Frank</a> is one of the most informative
          and well-known drugs and alcohol advice sites for young people.
        </p>
        <p>
          Here are the KAOS team’s top tips to reduce your drug use or stop taking drugs:
          <li>Avoid places or situations where there will be drugs</li>
          <li>Make a note of your drug use and set yourself little goals</li>
          <li>Think about what makes you take drugs and how it would be talk about this</li>
          <li>Get rid of the drugs you have by flushing them down the toilet</li>
          <li>Find new hobbies and interest to take your mind off drugs</li>
          <li>Find places in your area that might offer support and treatment</li>
        </p>
        <p>
          Drinking alcohol can be dangerous particularly when your body is still developing. Drinking alcohol
          can make you less aware of danger, so you’re more likely to hurt yourself. In the long-term, drinking
          alcohol on a regular basis increases the risk of developing a range of illnesses such as cancer, stroke,
          heart disease, liver disease and damage to the brain and nervous system.
        </p>
        <p>
          ‘Units’ are a simple measure to express the quantity of pure alcohol in a drink. The higher the ABV
          percentage you seen on the bottle, the stronger the alcohol and the more ‘units’ it will contain. In
          the UK, doctors advise that adult men and women should not drink more than 14 units of alcohol
          per week, roughly the equivalent of 6 pints of beer or 10 small glasses of wine. It’s good if you can
          have a few ‘alcohol free’ days and to avoid ‘binging’ (heavy drinking to deliberately get drunk) as this
          is linked to lots of health problems including liver damage, stomach ulcers and obesity. For
          information on units, https://www.nhs.uk/Livewell/alcohol/Pages/alcohol-units.aspx or you can
          check out videos of young people’s experiences of drugs and alcohol at the <a href="http://www.healthtalk.org/young-peoples- experiences">Health Talk website</a>.
        </p>
        <p>
          Just like with drugs or alcohol, there can be pressure from friends or people around you to smoke –
          again, don’t do something you don’t feel comfortable with and know the risks. Smoking is highly
          addictive and can cause serious health problems, including cancer. Once you start, it can be really
          hard to stop. <a href="https://www.childline.org.uk/info-advice/you-your-body/drugs-alcohol-smoking/smoking/">The Childline website</a> has all you need to know about giving up, how to support a
          friend and all the side effects.
        </p>
        <p>
          And we’ve got 7 reasons for you to give up smoking or reduce the amount you smoke:
          <li>You&#39;ll be healthier and less out of breath because smoking decreases your lung capacity.</li>
          <li>You’ll save yourself a lot of money.</li>
          <li>You’ll look better. Smokers have more wrinkled and saggy faces by the time they’re in their
          mid-20s.</li>
          <li>Quitting smoking helps save the planet.</li>
          <li>Someone who starts smoking at 15 is three times more likely to die from cancer than
          someone who starts smoking in their mid-20s.</li>
          <li>Not smoking will make you instantly more attractive. Most people prefer kissing non-
          smokers.</li>
          <li>Smoking can harm your fertility and, if you&#39;re female, increases your chances of
          complications during pregnancy and labour.</li>
        </p>
      </ion-card-content>
    </ion-text>
  </ion-card>
</ion-content>
