page-roster {
  .KAOSToday{
    font-family: "IBM Plex Serif";
    background-color: map-get($colors, primary);
    vertical-align: middle;
    padding: inherit;
    color: white;
    text-align: center;
    font-size: 1.4em;
    padding: 10px;
  }
  .buttonGroup {
    text-align: center;
  }
  .KAOSThisWeek{
    font-family: "IBM Plex Serif";
    background-color: white;
    vertical-align: middle;
    padding: inherit;
    color: map-get($colors, primary);
    text-align: center;
    font-size: 1.4em;
    padding: 10px;
  }
/*
  button {
  	ion-badge {
  		position: absolute;
  		top: -0.2rem;
  		right: -0.2rem;
  		opacity: 0.9;
  	}
  }
  */
  #notification-badge {
    font-size: 1.3rem;
    z-index: -1; position:relative;
    top: -0.8rem;
    right: 0.8rem;
  }

  .buttonGroup {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: transparent;
  }

}
