page-roster {
  .KAOSToday{
    font-family: "IBM Plex Serif";
    background-color: map-get($colors, primary);
    vertical-align: middle;
    padding: inherit;
    color: white;
    text-align: center;
    font-size: 1.4em;
    padding: 10px;
  }
  .buttonGroup {
    text-align: center;
  }
  .KAOSThisWeek{
    font-family: "IBM Plex Serif";
    background-color: white;
    vertical-align: middle;
    padding: inherit;
    color: map-get($colors, primary);
    text-align: center;
    font-size: 1.4em;
    padding: 10px;
  }

  button {
  	ion-badge {
  		position: absolute;
      border-radius: 50%;
      background-color: red;
  		top: -0.2rem;
  		right: -0.2rem;
  		opacity: 0.9;
  	}
  }

  ion-alert.select-alert.single-select-alert .alert-radio-label {
    white-space: pre-wrap;
  }
}
